@import "tailwindcss";
@font-face {
  font-family: Roboto;
  src: url("./assets/RobotoMono-Regular.ttf");
}
@theme {
  --font-roboto: "Roboto";
  --color-gray: #4c5868;
  --color-gray-dark: #1e2329;
  --color-purple: #662caa;
  --color-purple-dark: #281144;
}

body {
  background-color: #000000;
  color: #ffffff;
}

